@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fffbea;
  color: #333;
  padding: 2rem;
}

/* Flipping animation for Wordle Tiles (on guess)*/
@keyframes flip {
  0%   { transform: rotateY(0deg); }    /* start */
  50%  { transform: rotateY(90deg); }   /* halfway*/
  100% { transform: rotateY(0deg); }    /* ends with new color */
}

.tile-3d {
  transform-style: preserve-3d;
}
.flip {
  animation: flip 0.6s ease-in-out forwards;
  backface-visibility: hidden;
}
